.aboutMeContainer {
  padding: 150px 0px;
}

.aboutMeHeader {
  font-size: clamp(20px, 4vw, 40px);
  color: #fbf8be;
  position: relative;
}

.aboutMeHeaderText {
    transition: all .5s;
    opacity: 0;
    transform: translateX(-10px);
}

.aboutMeHeaderTextShow {
    opacity: 1;
    transform: translateX(0);
}

.aboutMeHeader::after {
  content: "";
  background-color: #fbf8be;
  height: 2px;
  width: 0%;
  display: block;
  transition: all .5s;
}

.aboutMeHeaderShow::after {
    width: 100%;
    transition: all .5s;
}

.aboutMeContent {
    display: flex;
    justify-content: space-between;
}

.aboutMeBio {
    width: 50%;
    margin-top: 0;
    opacity: 0;
    transform: translateX(-40px);
    transition: all .5s;
    transition-delay: 1s;
}


.aboutMeBioShow {
    transition: all .5s;
    transition-delay: 1s;
    opacity: 1;
    transform: translateX(0px);
}

.aboutMeImg {
    object-fit: cover;
    transition: all .5s linear;
    opacity: 0;
    transform: translateX(40px);
    transition-delay: 1s;
    border-radius: 4px;
}

.AboutMeImgAnimate {
    transform: translate3d(0,0,0);
    opacity: 1;
    transition: all .5s linear;
    transition-delay: 1s;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

