.body {
    height: 100vh;
    width: 100%;
    background: #234E70;
    color: #fff;
    margin: 0;
}

.mainHeader {
    padding: 0px 50px;
    position: fixed;
    top: 0;
    width: calc(100% - 100px);
    border-bottom: 2px solid #fbf8be;
    background: #234E70;
    z-index: 11;
}

.mainHeader::after {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 100%;
    background-color: #234E70;
    height: 2px;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-name: shrink;
    -webkit-animation-name: shrink;
}

.mainContent {
    display: flex;
    height: 100%;
}

.pageContainer {
    max-width: 1000px;
    width: 100%;
    margin: 0px auto;
}

.inlineLink {
    color: $primaryYellow;
    text-decoration: underline;
  }

@keyframes shrink {
    from {
        width: 100%
    }

    to {
        width: 0%;
    }
}

@-webkit-keyframes shrink {
    from {
        width: 100%
    }

    to {
        width: 0%;
    }
}